/* Specific CSS for navbar */

/* Add styling for Quarto specific elements */
.quarto-styled-section .quarto-title-block .quarto-title-banner {
  background-image: url(_ecrxiv_logo_farge_hvit_tekst.png);
  background-size: 300px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

.quarto-styled-section .panel-sidebar {
  position: sticky;
  overflow-y: scroll;
  top: 0;
  height: 100vh;
  background-color: #27445C; /* Sidebar background color */
  border-right: 1px solid #e0e0e0; /* Border for sidebar */
}
